@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kaushan+Script&display=swap');
    body {
        font-family: 'Kaushan Script', cursive, Arial, Helvetica, sans-serif;
        font-size: 1em;
        color: #000000;
        background-color: #87ceeb;
    }

    h1 {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-size: 3em;
        text-shadow: 1px 1px 1px #87ceeb;
        text-align: center;
    }

    h2 {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
        font-size: 2em;
        font-weight: bolder;
        text-shadow: 1px 1px 1px #87ceeb;
        text-align: center;
    }

    main {
        background-color: #ffffff;
        border-radius: 10px;
        background-position: center;
        width: 700px;
        padding: 10px;
        box-shadow: 10px 10px 20px #6093a7;
        margin: auto;
        text-justify: auto;
    }